<%= form_for(@comment) do |f| %>
<% if @comment.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

    <ul>
        <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="field">
    <%= f.label :post_id %><br>
    <%= f.number_field :post_id %>
</div>
<div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
</div>
<section class = "row">
    <div class="small-4 columns">
        <div class="actions">
            <%= f.submit 'Aceptar', :class => 'button small' %>
        </div>
    </div>
</section>
<% end %>
