<nav class = "top-bar" data-topbar role = "navigation">
    <ul class = "title-area">
        <li class = "name">
            <h1>Blog</h1>
        </li>
    </ul>
    <section class="top-bar-section">
        <ul class = "left">
            <li class = "has-dropdown not-click"><a hre="#">Menu</a>
                <ul class = "dropdown">
                    <li class="parent-link show-or-small-only"><a class="parent-link js-generated" href="#">Acciones</a></li>
                    <li><%= link_to 'Inicio', controller:'/posts',action:'index' %></li>
                    <li><%= link_to 'Nuevo', controller:'/posts',action:'new' %></li>
                </ul>
            </li>
            <li class="divider"></li>
        </ul>
        <ul class = "right">
            <%if user_signed_in? %>
            <li><a>Logged in as <%= current_user.email %></a></li>
            <li><%= link_to 'Log out', destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
            <% elsif admin_signed_in? %>
            <li><a>Logged in as <%= current_user.email %></a></li>
            <li><%= link_to 'Log out', destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
            <% else %>
            <li><%=link_to'Login',new_user_session_path%></li>
            <li><%=link_to'Sign up',new_user_registration_path%></li>
            
            <% end %>
            
        </ul>
    </section>
</nav>